<template>
  <v-container>
    <v-card-text>
      <h1 class="text-md-center pb-5">Star Wars Movies DB</h1>
      <hr>
    </v-card-text>
    <v-layout row wrap>
      <v-flex class="pt-1 pb-1 pr-1 pl-1" v-for="movie in movies" :key="movie.id" xs6>
        <v-card class="pt-2 pb-2 pr-2 pl-2 mh">
          <img
            src="https://media.deseretdigital.com/file/437be55157?resize=width_1200&type=jpg&c=6&a=e0717f4c"
            class="image left mr-3"
          >
          <v-card-title class="pt-0 px-0 left"><h2>{{movie.title}}</h2></v-card-title>
          <v-card-text class="pt-5">{{movie.overview}}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import gql from "graphql-tag";
export default {
  name: "MoviesList",
  data() {
    return {
      movies: []
    };
  },
  apollo: {
    movies: {
      query: gql`
        query StarWars {
          movies(query: "Star Wars") {
            id
            title
            overview
            poster_path
          }
        }
      `
    }
  },
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.image {
  border-radius: 15px !important;
  height: 150px;
  width: 20%;
}
.mh {
      min-height: 250px;
}
</style>
