<template>
  <v-content>
    <MoviesList/>
  </v-content>
</template>

<script>
import MoviesList from "./components/MoviesList";

export default {
  name: "App",
  components: {
    MoviesList
  },
  data() {
    return {
      //
    };
  }
};
</script>
